In [17]:
import duckdb

In [31]:
# set the query
query = f""" SELECT * FROM transfers; """

In [32]:
# get data from db
conn = duckdb.connect('../transfermarkt.db')
try:
    df = conn.sql(query).df()
    # results = conn.execute(query).fetchall()
except Exception as e:
    print(f"Error: {e}")
finally:
    conn.close()

In [33]:
df.head()

,player_id,player_name,transfers_json,created_at,updated_at
0,684210,Jaidon Anthony,"[{""season"": ""25/26"", ""fee"": ""\u20ac9.50m"", ""fr...",2025-10-23 17:03:38.981,2025-10-23 17:03:38.981
1,342046,Axel Tuanzebe,"[{""season"": ""25/26"", ""fee"": ""free transfer"", ""...",2025-10-23 17:03:38.984,2025-10-23 17:03:38.984
2,415970,Joe Worrall,"[{""season"": ""24/25"", ""fee"": ""\u20ac5.90m"", ""fr...",2025-10-23 17:03:38.986,2025-10-23 17:03:38.986
3,607226,Loum Tchaouna,"[{""season"": ""25/26"", ""fee"": ""\u20ac15.15m"", ""f...",2025-10-23 17:03:38.986,2025-10-23 17:03:38.986
4,214666,Connor Roberts,"[{""season"": ""23/24"", ""fee"": ""End of loan"", ""fr...",2025-10-23 17:03:38.989,2025-10-23 17:03:38.989